<html>
    <head>
        <meta charset="utf-8">
        <style>
            .node {
              stroke: #fff;
              stroke-width: 2.5px;
            }
            .link {
              stroke: #999;
              stroke-opacity: .6;
            }
            h1 {
              text-align: center;
              background-color: lightgray;
            }
            h2 {
              text-align: left;
            }
        </style>

        <h1> Graph loader </h1>
        <hr>
    </head>

    <body>
        <div class="outer">
            <h2>Upload Excel file:</h2>
            <form action="" method=post enctype=multipart/form-data><p>
                <input type=file name=file><input type=submit value="Upload file">
            </form>
        </div>
    <hr>
        <div class="outer">
            <h2>Uploaded files:</h2>
            {% for file in files %}
                <li>
                  <b>{{ file.name }}</b>: <i>added at</i> {{ file.datetime }}
                  <form method="get">
                    <input name="file_name" type="hidden" value="{{ file.name }}">
                    <input type="submit" value="Draw">
                  </form>
                </li>
            {% endfor %}
        </div>
    <hr>
        <div>
            <h2>Graph visualisation (hover to see node ID):</h2>
            {% block graph %}{% endblock %}
        </div>

    </body>
</html>
